.navbar-default {
}
.name,
.name:hover {
    text-decoration: none;
    color: #EF476F;
    font-size: 24px;
    font-family: monospace;
}
.navbar-nav {
    position: absolute;
    right: 50px;
    font-family: monospace;
}
.splash {
    height: 100vh;
    background: url(trees.jpg) no-repeat center center fixed;
    background-size: cover; 
}

.scrollArrow {
    display: block;
    margin: 0px auto;
    padding-top: 95vh; 
    width: 46px; 
}
.intro {
    height: 96vh;
    background-color: transparent; 
}
.profilePic{
    padding-top: 27vh; 

}
.profilePic img{
    display: block; 
    margin-left: auto; 
    width: 150px; 
    border-radius: 100px; 
}
.bio{ 
    padding-left: 5vw; 
    padding-right: 20vw; 
    padding-top: 25vh; 
    font-size: 18px; 
}

}
a{
    color: #EF476F;
}
a:visited {
    color: #EF476F;
}
a:hover{
    color: #2E79B9; 
    text-decoration: none;
}
a:active{
    color: #EF476F;
}
.projects{
height: 710px;
    background-color: #121509;
}


/*ColorPallete: https://coolors.co/f6ffff-26547c-ef476f-ffd166-06d6a0*/
