
<nav class="navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="navbar-brand col-sm-3">
                <a class="name" href="http://www.darenwang.me/index.html">darenWang</a>
            </div>

            <ui class="nav navbar-nav hidden-xs">
                <li><a class="navItem" href="#">blog</a></li>
                <li><a href="#">what I'm up to</a></li>
                <li><a href="Gallery.html">photos</a></li>
                <li><a href="#">contact</a></li>
            </ui>
        </div>
    </div>
</nav>
